@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
  font-family: 'inter',sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.header-container, .nav-container, .hero-container, .services-container {
  width: 80%;
  margin: 0 auto;
}
.nav-container{
margin-left: 5px;
height: 20px;
align-items: center;
align-content: center;

}

.nav-container .logo {
  margin-left: 162px;
  align-self: center;
  
  
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  background-color: #001f3f; 
  color: #fff;
  font-size: 12px;
  align-items: center;
  width: 1080px;
  margin-left: 129px;
}

.header-left p, .header-right p {
  margin: 0;
  
  margin-left: 0; 
}

.header-left i {
  color: #20c997;
margin-right: 4px;

}

.header-right i {
  margin-right: 5px;
  color: #001f3f; 
  border-radius: 40%;
  height: 15px;
  width: 15px;
  background-color: white;
}



.header-right a {
  margin-left: 15px;
  color: #fff; 
}
.header-left img{
  margin-left: 40px;
}
.header-right img {
  margin-left: 10px; 
  margin-right: 15px; 
}

nav {
  background-color: #fff; 
  color: #001f3f; 
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-family: "inter";
  width: 1195px;
  margin-top: 9px;
  height: 3px;
  
}

.nav-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 5px;
  margin-left: 2500px;
  margin-right:200px ;
  margin-bottom: 5px;
  
}



.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  height: 4px;
  margin-left: 60px;
  font-size: 15px;
  padding: 0;
  align-items: center;
  align-content: center;
  
}


.nav-links li {
  margin-right: 20px;
  align-items: center;
  margin: 0 14px;
  
  
}

.hero-form .btn i {
  border-radius: 60%;
  size: 2px;
  margin-left: 5px;
  color: #001f3f;
  background-color: white;
}

.nav-links a {
  color: #001f3f; 
  text-decoration: none;
  font-family: 'inter';
  align-items: center;
  
}
.nav-links img{
  margin-right: 32px;
  margin-left: 12px;
  
}
.hero {
  background-image: url('images/newm.jpg'); 
  width: 1280px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 656px;
  left: 30px;
  position: relative;
  overflow: hidden;
  font-family: 'inter',sans-serif;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit; 
  background-size: inherit;
  background-position: inherit;
  background-repeat: inherit;
  filter: brightness(50%); 
  z-index: 1;
}
.hero-text .btn{
  color:white
}
.hero-container {
  position: relative;
  z-index: 2;
  display: flex;
 justify-content: space-between;
  align-items: center;
  height: 100%;
  color: #fff;
}
.service .layer1{
  z-index: 1;
}
.service .layer2{
  z-index: 2;
}
.hero-text {
  max-width: 50%;
  font-size: 15px;
  font-weight: none;

}

.hero-text h1 {
  font-size: 2.5em;
  margin: 0 0 20px;
}

.hero-text p {
  font-size: 1.1em;
  margin: 0 0 20px;
  
  
  font-weight: none;
}

.hero-form {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 30px;
  border: none;
  color: #333;
  font-size: 12px;
  width: 245px;
  margin-top: 10px;
  margin-left: 100px;
}

.hero-form h2 {
  margin: 0 0 20px;
}

.hero-form form {
  display: flex;
  flex-direction: column;
}

.hero-form label {
  margin-bottom: 6px;
  size: 50px;
}

.hero-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 94%;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 10px;
  width: 96%;
}

.checkbox-container input[type="checkbox"] {
  margin-right: -20px;
  margin-left: -30px;
}

.checkbox-container label {
  display: inline;  
}

.checkbox-container a.terms-link {
  color: skyblue; 
}

.btn {
  background-color: #20c997; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px; 
  font-size: 1em;
}

.hero-form .btn {
  background-color: #001f3f;
  size: 10px;
  color: #fff;
  width: 50%;
  margin-left: 10px;
}
.service{
  position: relative;
  text-align: left;
  
}
.services {
  padding: 0px 0;
  background-color: white;
  text-align: left;
  width: 1280px;
}
.ellipse {
  width: 40px;
  height: auto;
  
}
.icon1{
  
  position: absolute;
  top: 20%;
  left: 12%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: auto;
}
.icon {
  position: absolute;
  top: 20%;
  left: 11.5%;
  transform: translate(-50%, -50%);
  width: 20px; 
  height: auto;
  text-align: left;
}

.services-container {
  display: flex;
  top: -10px;
  font-size: 14px;
  align-items: flex-start;
  margin-left: 145px;

}

.service {
  width: 40%;
  padding: 20px;
}

.service i {
  font-size: 2em;
  color: #20c997; 
  margin-bottom: 10px;
}

.service h3 {
  font-size: 1.5em;
  margin: 10px 0;
}
